@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">.Mybutton { }</style>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">this is outlook analog</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="Mybutton">
    <button title="add mail" onclick="location.href='@Url.Action("AddMail", "Home")'">add mail</button>
    <button title="get mail" onclick="location.href='@Url.Action("GetMailForAllAccounts", "Home")'">get last mails</button>
    <button title="send message">send new mail</button>
    <button title="set spam">set mass sending</button>
    <button title="set mass time">set sending with time</button>
</div>

<div class="row">
    <h2>email messages</h2>
</div>